# Auto detect text files and perform LF normalization
* text=auto

#
# The above will handle all files NOT found below
#
# These files are text and should be normalized (Convert crlf => lf)
*.css           text
*.md            text
*.htm           text
*.html          text
*.java          text
*.js            text
*.json          text
*.properties    text
*.sh            text
*.svg           text
*.txt           text
*.xml           text

# These files are binary and should be left untouched
# (binary is a macro for -text -diff)
*.class         binary
*.dll           binary
*.ear           binary
*.gif           binary
*.ico           binary
*.jar           binary
*.jpg           binary
*.jpeg          binary
*.png           binary
*.so            binary
*.war           binary
